@font-face {
    font-family: CrimsonPro;
    src: url(font-CrimsonPro-Regular.ttf);
}

@font-face {
    font-family: Themysion;
    src: url(font-themysion.ttf);
}

* {
    box-sizing: border-box;
    font-family: CrimsonPro;
    color: #222424;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FDFCF7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1,h2,h3,h4,h5,p {
    width: 100%;
}

h1 {
    font-family: Themysion;
    font-size: 13em;
    font-weight: normal;
    margin: 0;
    padding-bottom: 0.2em;
}

h2 {
    font-size: 4.5em;
    font-weight: normal;
    margin: 0;
    padding-bottom: 1em;
    text-transform: uppercase;
}

h3 {
    padding-top: 2em;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
}

/* Used in title section */
h5 {    
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding: 0 15%;
}

p {
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: 0 10%;
}

p + p {
    padding-top: 2em;
}

span {
    display: block;
    margin: 0;
    padding: 0.2em 0;    
}

.title-primary-text {    
    font-size: 4em;
    padding-top: 0.5em;
}

.title-primary-text-small {
    font-size: 3em;
    padding-bottom: 1em;
}

.title-subtext {
    font-size: 3em;
    padding-bottom: 1.5em;
}

.title-secondary-text {
    font-size: 3.5em;
    padding-bottom: 2em;
}

.divider-image {
    width: 90%;
    padding: 160px 0;
}

.right-align {
    align-self: end;
    
}

.left-align {
    align-self: start;
    transform: rotate(180deg);
}

.center-image {
    width: 90%;
    padding: 128px 0;
}
