@font-face {
    font-family: frederickaTheGreatFont;
    src: url(fredericka-the-great.ttf);
}

* {
    box-sizing: border-box;
    font-family: frederickaTheGreatFont;
    color: rgb(100, 100, 100)
}

body {
    margin: 0;
    padding: 0;
}

.scroll-container {
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.section {
    height: 100vh;
    width: 100vw;
    padding: 96px 96px;
    scroll-snap-align: start;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.title-page {
    justify-content: center;
    align-items: center;
}

.content {
    background-image: url('./green-leaves-rectangle-2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 380px;
}

hr {
    background-color: rgb(100, 100, 100);
    border: 0;
    height: 1px;
    width: 10%;
    position: relative;
    margin: 30px auto;
}

h1 {
    text-transform: uppercase;
    padding: 12px;
    font-size: 2.8em;
}

h2 {
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 4px;
    font-size: 1.2em;
}

p {
    font-size: 0.8em;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.title {
    position: absolute;
    padding: 24px 64px;
    width: 100%;
    font-size: 5em;
}

.full-width-image {
    max-width: 95%;
}